
ul{
	padding:0;
}
body{
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
}
.container{
	position:relative;
	
}
.main-nav{
	background:#3d6387;
}
.header{
	padding:10px 0;
}
.content_header{
	display:flex;
	justify-content:space-between;
}
.logo{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.logo h1{
	margin:0;
	color:#00285e;
	font-size:20px;
	text-transform:uppercase;
	font-weight:700;
}
.contact_top{
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.box_contact_top{
	margin-left:30px;
	font-weight:500;
	color:#00285e;
}
.main-nav li{
	list-style:none;
}
.main-nav li a,.main-nav li a:hover{
	padding:14px;
	color:#fff;
	display:block;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
}
.main-nav li.active a{
	background-color:#5e99c3;
}
.main-nav li.active ul li a{
	background-color:#fff;
}
.main-nav li ul li a:hover{
	background-color:#f5f5f5;
}
.main-nav li:hover ul{
	display:block;
}
.main-nav li ul li a,.main-nav li ul li a:hover{
	color:#000;
}
.content_main-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative;
}
.search_box{
	position:relative;
}
.input_seach{
	border:none;
	width:300px;
	height:30px;
}
.btn_search{
	border:none;
	background:none;
	position:absolute;
	right:3px;
	top:3px;
}
.content_body{
	margin-top:40px;
}
.menu h3{
	margin:0;
	height:50px;
	text-align:center;
	background-color:#3d6387;
	color:#fff;
	font-size:18px;
	line-height:50px;
}
.menu{
	background-color:#5e99c3;
	margin-bottom:30px;
}
.menu li{
	list-style:none;
}
.menu li.active a{
	background-color:rgba(0,0,0,0.1);
}
.menu li a{
	padding:10px;
	border-bottom:1px solid #77aacf;
	display:block;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	padding-left:20px;
}
.menu li ul {
	display:none;
}
.menu li:hover ul{
	display:block;
}
.menu li ul li a{
	padding-left:40px;
	background-color: rgba(0,0,0,0.1);
}
.box_chat_support{
	background-color:#d2f7fd;
	border-radius:10px;
	margin-bottom:30px;
}
.header_chat{
	border-radius:10px;
	background-color:#1489cc;
	text-align:center;
	padding:10px;
	color:#fff;
}
.header_chat h2{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	line-height:24px;
}

.body_chat_support{
	display:flex;
	justify-content:center;
}
.body_chat_support a{
	padding:15px 10px;
}
.bot_chat_support{
	text-align:center;
	color:#00285e;
	font-size:16px;
	padding:10px;
}
.header_list{
	padding:10px;
	color:#fff;
	background-color:#5e99c3;
	font-size:16px;
	padding-left:25px;
	font-weight:bold;
}
.box_sp{
	padding:15px 0;
}
.img_sp{
	height: 170px;
	overflow: hidden;
	border: 1px solid #ccc;
}
.box_sp h3{
	font-size:16px;
	font-weight:normal;
	margin-top:10px;
	margin-bottom:5px;
	height:35px;
}
.box_sp h3 a{
	color:#000;
}
.box_sp h3 a:hover{
	color:red;
	text-decoration:none;
}
.box_sp p{
	margin-bottom:5px;
	height:40px;
}
.price_sp b{
	color:rgba(255,0,4,1.00);
}
.eclipse-prev, .eclipse-next{
    background: url(../images/arrow_banner.png) no-repeat;
    width: 38px;
    height: 57px;
}
.content_list_sp{
	padding: 20px 0;
}
.box_slider{
	margin-top: 20px;
}
.box_slider .eclipse-controls{
	display: none;
}
.box_slider .eclipse-prev,.box_slider .eclipse-next{
	top: 85px;
}
.txt_dv h3{
	font-weight: bold;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #23278c;
}
.txt_footer{
	color: #000;
}
.txt_footer h3{
	font-weight: bold;
	font-size: 16px;
	margin-top: 0;
	text-transform: uppercase;;
}
.footer{
	border-top:4px solid #3d6387;
	padding: 30px 0;
	margin-top: 40px;
}
.eclipse-paging-button{
	border:1px solid #3d6387 !important;
	background:#fff;
}
.eclipse-paging-active{
	background:#3d6387;
}
.brachscrum{
	background-color:#f5f5f5;
	padding:15px 0;
}
.link_scrum li{
	list-style:none;
	display:inline-block;
	margin-right:10px;
	color:#999;
}
.link_scrum li a{
	color:#000;
}
ul{
	margin:0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color:#3d6387;
	border-color:#3d6387;
}
.phantrang{
	text-align:center;
}
.phantrang .pagination{
	margin:0;
}
.txt_product h3{
	font-size:20px;
	margin-top:0;
}
.price_product{
	background-color:#f5f5f5;
	padding:15px;
	font-size:16px;
}
.price_product b{
	display:block;
}
.old_price{
	text-decoration:line-through;
	color:#999;
	display:inline-block;
	margin-right:15px;
}
.new_price{
	font-weight:bold;
	display:inline-block;
	color:#FF0004;
}
.detail_product{
	margin:20px 0;
}
.detail_product td{
	padding:7px; 
	font-size:14px;
	vertical-align:top;
}
.detail_product td:first-child{
	color:#999;
	font-weight:bold;
}
.contact_btn{
	display:block;
	text-align:center;
	background-color:#3d6387;
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.contact_btn:hover{
	color:#fff;
	text-decoration:none;
	background-color:#557899
}
.disc_detail{
	margin-bottom:30px;
}
.detail_contact{
	margin-top:20px;
}
.detail_contact .detail_product{
	margin-top:0;
}
.about .detail_product{
	margin-top:0;
}
.about .detail_product td{
	padding:5px;
}
.line_form{
	margin-bottom:15px;
}
.line_form label{
	font-weight:normal;
}
.require{
	color:red;
}
.form_contact h4{
	margin-top:0;
	font-size:16px;
	margin-bottom:20px;
}
.content_detail_contact{
	padding:10px;
	background-color:#f5f5f5;
}
.content_detail_contact h3{
	font-size:16px;
	margin-top:0;
}
.content_detail_contact p{
	margin-bottom:0;
	line-height:30px;
}
.box_contact h4{
	margin-top:0;
}
.form_contact_box{
	margin-top:30px;
}
.img_box_dv{
	height: 180px;
	overflow: hidden;
}
@media only screen and (min-width: 768px){
	.navbar-collapse{
	padding:0;
}
	.content_footer{
		display: flex;
		justify-content: flex-start;
	}
	.txt_footer{
		margin-left: 30px;
	}	

}
@media only screen and (max-width: 767px) {
	img_box_dv {
		height: 220px;
	}
	.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header{
		padding-top:10px;
		padding-bottom:10px;
	}
	.about .detail_product,.detail_contact .detail_product{
		margin-top:20px;
	}
	.img_sp{
		border:1px solid #ccc;
	}
	.txt_footer{
		margin-top:20px;
	}
	.content_footer{
		text-align:center;
	}
	.txt_footer h3{
		line-height:24px;
	}
	.box_slider .eclipse-prev, .box_slider .eclipse-next{
		top:115px;
	}
	.eclipse-prev, .eclipse-next{
		background-size:100%;
		    width: 19px;
    		height: 35px;
	}
	.eclipse-controls{
		bottom:-20px;
	}
	
	.input_seach{
		width:285px;
	}
	.list_sp{
		margin-top: 20px;
	}
	.main-nav li a,.main-nav li a:hover{
		color:#000;
	}
	.main-nav li.active a{
		color:#fff;
	}
	.navbar-collapse{
		position:absolute;
		width:100%;
		top:50px;
		background-color:#f5f5f5;
		z-index:88;
	}
	.navbar-toggle .icon-bar{
		background:#fff;
	}
	.content_header{
		display:block;
	}
	.logo a img{
		height:50px;
	}
	.logo h1{
		font-size:15px;
	}
	.contact_top{
		justify-content:space-between;
		margin-top:15px;
	}
	.box_contact_top{
		margin-left:0;
	}
}